@font-face {
    font-family: Italiano;
    src: url(./fonts/Italiano.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(73, 61, 46);
    /* overflow: hidden; */
    background-image: url(assets/pizza.jpg);
}

.content {
    display: flex;
    flex-direction: column;
}

.content .header {
    display: flex;
    justify-content: center;
    background-color: rgb(53, 33, 20);
    height: 130px;
    width: 100%;
}

.content .header .header-title {
    align-self: center;
    color: white;
    font-size: 4rem;
    font-family: 'Italiano';
    letter-spacing: 9px;
}

.content .header .header-title #first {
    color:rgb(54, 189, 13);
}

.content .header .header-title #second {
    color:rgb(212, 14, 14);
}

.content .main {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100vh;
    position: relative;
}

.content .container-news {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .6);
    width: 800px;
    height: 300px;
    position: absolute;
    right: -200px;
    top: 100px;
}

.content .container-news .container-title {
    align-self: center;
    color: white;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

.content .container-news .container-text {
    align-self: center;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .9rem;
    margin-top: 10px;
}

.content .stripes {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 450px;
   right: -200px;
   gap: 10px;
}

.content .stripe {
    background-color: rgba(0, 0, 0, .6);
    width: 800px;
    height: 30px;
}

.content .main .menu {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 200px;
    height: 100vh;
    width: 950px;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 300px;
}

.content .main .menu .container {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    height: 260px;
    width: 245px;
    border-radius: 4px;
    margin: 30px;
}

.content .main .navigation {
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: fixed;
    top: 350px;
    right: 35px;
}


.content .main .navigation button {
    height: 50px;
    width: 350px;
    border: 3px solid black;
    background-color:rgb(116, 82, 50);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
    font-size: 1.3rem;
    color:white;
    cursor: pointer;
    box-shadow: 2px 5px rgba(0, 0, 0, .3);
}

.content .main .navigation button:hover {
    background-color:rgba(116, 82, 50, .6);
}
